body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

canvas {
  position: absolute;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

nav {
  position: absolute;
  z-index: 2;
  right: 0;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  margin-right: 30px;
  margin-top: 35px;
}

nav a {
  text-decoration: none;
}

nav li {
  display: inline;
  font-size: 1.25em;
  margin-right: 20px;
  color: black;
  transition: text-decoration .3s;
  font-family: 'Inconsolata', monospace;
}

nav li:hover {
  text-decoration: line-through;
}

.intro-div {
  margin-left: 60px;
  position: absolute;
  bottom: 25%;
  width: 850px;
  z-index: 5;
}

.intro-text {
  font-size: 3.5em;
  color: #2a64f8;
  font-weight: bold;
  font-style: italic;
  margin: 0;
  margin-bottom: -35px;
}

h1 {
  font-weight: bold;
  font-style: italic;
  font-size: 8em;
  color: #2a64f8;
  margin: 0;
}

.intro-div .desc {
  font-family: 'Inconsolata', monospace;
  font-size: 1.1em;
  margin: 0;
  line-height: 150%;
}

/* Work Section Styling */

#work {

}

#work h2 {
  font-weight: bold;
  font-style: italic;
  font-size: 2.8em;
  text-align: center;
}

.project-grid {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("https://eckels.github.io/NewPortfolio/img/shelf.png");
  background-size: 100% 320px;
  background-repeat: repeat;
  padding-left: 10%;
  padding-right: 10%;
}

.project-block {
  float: left;
  width: 33%;
  height: 320px;
  display: inline-block;
  background-color: transparent;
}

.project-content {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.project-content img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
}

.project-content p {
  font-family: 'Inconsolata', monospace;
  font-size: 1.3em;
}

/* About Section Styling */

#about {
  padding: 30px;
}

#about h2 {
  font-weight: bold;
  font-style: italic;
  font-size: 2.5em;
}
